#wheel_2, #wheel_1 {
    cursor: pointer;
    fill:#66c541; /* здесь добавляем стиль  */
}

/* при наведении меняем цвет */
#wheel_2:hover, #wheel_1:hover {fill: red}

#Layer_1{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    transition: all 600ms ease;
}

#spoler{
    animation: color 4s infinite;
    }

@keyframes color {
    0% {fill:red;
        transform: translateX(0);
    }

    25% {fill:yellow;
        transform: translateX(-10px);}
    50% {fill:red;
        transform: translateX(0);}
    75% {fill:yellow;
        transform: translateX(7px);}    
    100% {fill:red;
        transform: translateX(0);}
}