#wheel_1, #wheel_2:hover {fill:#66c541;}


/*#wheel_1, #wheel_2:hover{fill:#464655;}*/


/*#wheel_1:hover, #wheel_2:hover{
    cursor: pointer;
    fill: #499177 !important;
    transition: all 600ms ease;
}
*/
#Layer_1{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    transition: all 600ms ease;
}

#spoler{
    animation: color 4s infinite;
    }

@keyframes color {
    0% {fill:yellow;
        left: 10px;
        top: 10px;}
    50% {fill:red;
        left: 0;
        top: 0;}
    100% {fill:yellow;
        right: 10px;
        top: 10px}
}